@import fonts

html
  min-height: 100%

  background-color: black
  color: #ddd

body
  position: absolute
  bottom: 0
  top: 0
  left: 0
  right: 0

  margin: 0


#app
  width: 100%
  height: 100%
  display: flex
  flex-flow: row
  align-items: center

#showroom
  width: 100%
  margin: auto 0
  display: flex
  justify-content: center

  min-height: 800px

#stage
  width: 700px

$CANVAS-SIZE: 600px
$CANVAS-MARGIN: 50px
#canvas
  width: $CANVAS-SIZE
  height: $CANVAS-SIZE
  background-color: deeppink

  margin: 0 $CANVAS-MARGIN $CANVAS-MARGIN

@import floor



.wall
  position: relative
  width: 200px
  pointer-events: none

  img
    position: absolute
    top: -100px - $CANVAS-MARGIN

$PANEL-MARGIN: 50px

.panel
  display: flex
  flex-direction: column

  &.right
    margin-left: $PANEL-MARGIN
  &.left
    margin-right: $PANEL-MARGIN

#info
  font-family: "Source Sans Pro", sans-serif
  //font-weight: 300

  margin-top: auto

  h1, h2
    font-weight: 300
    margin: 0

  a
    color: inherit

@import mini-maps

